html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("https://cdn.vox-cdn.com/thumbor/Uz3OmMsAsttGXqp3uiFaGYgr0bE=/0x0:1063x730/1400x933/filters:focal(447x280:617x450):no_upscale()/cdn.vox-cdn.com/uploads/chorus_image/image/66938066/minecraft.0.png");
  background-size: cover;
}

.Minimap1 {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
  height: 100%;
}

.Minimap2 {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
  height: 100%;
}

.Mirilla1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.Mirilla2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.BarraHerramientas1 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.BarraHerramientas2 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.HpBar1 {
  display: flex;
  align-items: flex-start;
  justify-content: initial;
  width: 100%;
  height: 100%;
}

.HpBar2 {
  display: flex;
  align-items: flex-start;
  justify-content: initial;
  width: 100%;
  height: 100%;
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  height: 100%;
}


.a {
  display: flex;
  align-items: center;
}

.b {
  border: dotted 1px;
}

.editBtn {
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
}

.div3 {
  grid-area: 1 / 3 / 2 / 4;
}

.div4 {
  grid-area: 2 / 1 / 3 / 2;
}

.div5 {
  grid-area: 2 / 2 / 3 / 3;
}

.div6 {
  grid-area: 2 / 3 / 3 / 4;
}

.div7 {
  grid-area: 3 / 1 / 4 / 2;
}

.div8 {
  grid-area: 3 / 2 / 4 / 3;
}

.div9 {
  grid-area: 3 / 3 / 4 / 4;
}

.parent2 {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  height: 100%;
}

.divi1 {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  align-items: center;
}

.divi2 {
  grid-area: 1 / 3 / 2 / 4;
  display: flex;
  align-items: center;
}

.content1 {
  width: 100%;
  height: 100%;
}

.content2 {
  width: 100%;
  height: 100%;
}

.content3 {
  width: 100%;
  height: 100%;
}

.content4 {
  width: 100%;
  height: 100%;
}

.content5 {
  width: 100%;
  height: 100%;
}

.content6 {
  width: 100%;
  height: 100%;
}

.content7 {
  width: 100%;
  height: 100%;
}

.content8 {
  width: 100%;
  height: 100%;
}

.content9 {
  width: 100%;
  height: 100%;
}